

<footer id = "body-footer">
    <div class="company-info">
        <span class="logo">s</span>
        <span>
            Syduck Productions. All Rights Reserved
        </span>
    </div>
    <div class = "page-links">
        <a href="/">Home</a>
        <a href="/users/profile">Profile</a>
    </div>
</footer>