
<header>
    <p><a href = "/">CODEIAL</a></p>
    <% if(locals.user){ %>
        <div class = "header-info">
            <a href="/users/profile/<%= locals.user.id %>">Welcome <%= locals.user.name %></a>
            <a href="/users/sign-out">Sign Out</a>
        </div>
    <% }else{ %>
        <div class = "header-info">
            <a href="/users/sign-up">Sign Up</a>
            <a href="/users/sign-in">Sign In</a>
        </div>
    <% } %>
</header>