
<link rel="stylesheet" href="/css/home.css">
<div id = "container">
    <section id = "left-todo"></section>
    <section id = "posts">
        <% if(locals.user){ %>
            <div class="post-item card">
                <div class="card-body">
                    <h4 class = "card-title">Leave Post...</h4>
                    <form action="/posts/create-post" id = "new-post-form" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" required name="content" id="" placeholder="Type Here..."></textarea>
                        </div>
                        <input class="btn btn-primary" type="submit" value = "Post">
                    </form>
                </div>
            </div>
        <% } %>
    
        
        <div id = "posts-list">
            <div>
                <% for(var post of posts){ %>
                    <%- include('_post', {post: post}); %>
                <% } %>
                </div>
        </div>
    </section>
    
    
    <section id = "user-friends">
            <h4>FRIENDS</h4>
        <% if(locals.user){ %>
        <% for(var user of all_users){ %>
            <div class = "friend-item">
                <a href="/users/profile/<%= user.id %>" class="card-link"><%= user.name%></a>
            </div>
        <% } %>
        <% } %>
    </section>
</div>