
<link rel="stylesheet" href="/css/home.css">

<h1 class = "signup-intro">SIGNUP TO EXPLORE!</h1>
<form action="/users/create" method="POST">
    <div id="signup-form">
        <input placeholder="Your Name" type="text" required id = "signup-name" name = "name">
        <input placeholder="Your Email(abc@xyz.com)" type="text" required id = "signup-email" name = "email">
        <input placeholder="Password" type="password" required id = "password" name = "password">
        <input placeholder="Confirm Password" type="password" required id = "signup-password" name = "confirm_password">
        <input id = "signup-submit" type="submit" value = "SIGN UP">
    </div>
    <div id="login-button">
        <a id = "open-login-page" href="/users/sign-in">Go To Login Page</a>
    </div>
</form>
       