footer{
    font-size: 1rem;;
    font-family: verdana;
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 70px; 
    padding-top: 10px;
    background-color: #616161;
    display: flex;
    justify-content: flex-start;

    .company-info{
        color: white;
        margin: 10px;
        .logo{
            border: 1px solid white;
            padding: 0 4px;
            border-radius: 50%;
        }
    }

    .page-links{
        margin: 10px;
        display: flex;
        flex-direction: column;

        a{
            color: white;
            text-decoration: none;
        }
    }
}