$backgroundColor1: #304FFE;
$backgroundColor2: #536DFE;
$backgroundColor3: #1A237E;
$color: white;

body{
    background: linear-gradient(to right, $backgroundColor1, $backgroundColor2);
}

#container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    #left-todo{
        width: 25%;
    }
    #posts{
        width: 40%;
        padding: 10px;

        #posts-list{

            .post-item{
                margin: 20px 0;
                position: relative;

                .owner-name{
                    text-align: right;
                    font-size: 0.8rem;
                }

                .comment-item{
                    border: 2px solid blue;
                    margin: 10px 0;
                    position: relative;
                }
            }
        }
    }
    #user-friends{
        width: 25%;
        padding: 10px;
        border-left: 1px solid lightgrey;

        h4{
            text-align: center;
            color: $color;
            margin-bottom: 20px;
        }

        .friend-item{
            margin: 2px;
            padding: 5px;
            border-radius: 2px;
            background-color: $backgroundColor3;
            color: $color;

            a{
                color: $color;
                font-size: 1.2rem;
            }
        }
    }
}

//Delete post or comment
.delete{
    text-decoration: none;
    background-color: red;
    color: $color;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
}