
$backgroundColor1: #304FFE;
$backgroundColor2: #536DFE;
$backgroundColor3: #1A237E;
$color: white;

body{
    background: linear-gradient(to right, $backgroundColor1, $backgroundColor2);
}

#container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;

    #left-section{
        width: 25%;
        padding: 10px;
        border-right: 1px solid lightgrey;

        h4{
            text-align: center;
            color: $color;
            margin-bottom: 20px;
        }

        .friend-item{
            margin: 2px;
            padding: 5px;
            border-radius: 2px;
            background-color: $backgroundColor3;
            color: $color;

            a{
                color: $color;
                font-size: 1.2rem;
            }
        }
    }

    #middle-section{
        width: 40%;

        #profile-container{

            background-color: transparent;
            border: none;

            #profile-image{
                width: 300px;
                height: 300px;
                margin: auto;
                display: block;
            }


            #profile-info{
                p{
                    text-align: center;
                    font-weight: 500;
                    font-size: 1.5rem;
                    font-style: italic;
                    text-transform: capitalize;
                    color: $color;
                }
            }
        }
    }

    #right-section{
        width: 30%;
        border-left: 1px solid lightgrey;
        padding: 10px;

        #update-info{
            background-color: transparent;
            border: none;
            margin-top: 20px;
            color: $color;
    
            #update-info-header{
                background-color: transparent;
                border: none;
                font-weight: 500;
                font-size: 1.4rem;
            }
    
            #update-button{
                padding: 10px;
                font-weight: 500;
                font-size: 1.2rem;
            }
        }
    }
}


#display-preview{
    width: 150px;
    height: 150px;
    display: none;
}