body {
  background: linear-gradient(to right, #304FFE, #536DFE); }

#container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; }
  #container #left-todo {
    width: 25%; }
  #container #posts {
    width: 40%; }
    #container #posts #posts-list .post-item {
      margin: 20px 0;
      position: relative; }
      #container #posts #posts-list .post-item .owner-name {
        text-align: right;
        font-size: 0.8rem; }
      #container #posts #posts-list .post-item .comment-item {
        border: 2px solid blue;
        margin: 10px 0;
        position: relative; }
  #container #right-todo {
    width: 25%; }

.delete {
  text-decoration: none;
  background-color: red;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 10px; }
